{% extends "base.html" %} 
{% load static %}

{% block title %} 
    {{ post.title }}
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />
{% endblock %}

{% block content %}

<!-- u slucaju da submitting a comment fails, ovaj blok iznad svega se prikaze -->
{% if comment_form.errrors %}
    <div id="alert">
        <h2>Saving the comment failed!</h2>
        <p>Please check the comment form bellow the post and fix your errors</p>
        <a href="#comment-form">Fix!</a>
    </div>
{% endif %}

    <section id="summary">
        <h2>{{ post.title }}</h2>
        <div>
            {% for tag in post_tags %}
            <!-- post_tags je iz views -->
                <span class="tag">{{ tag.caption }}</span>
                <!-- zasto ne radi stil ??? -->
            {% endfor %}
        </div>
        <!-- READ LATER Button for posts -->
        <div id="read-later">
            <form action="{% url "read-later" %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ post.id }}" name="post_id">
                <button>
                    {% if saved_for_later %}
                        Remove from "Read Later" List
                    {% else %}
                        Read Later
                    {% endif %}
                </button>
            </form>
        </div>
        <article>
            <!-- img src static "blog/images/"|add:post.image_name  -->
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <address>By <a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
            <!-- nesto ne radi stil -->
            <div>
                Last updated on <time>{{ post.date|date:"d M Y" }}</time>
                <!-- django date filter to format the date -->
            </div>
        </article>
    </section>


    <main>
        {{ post.content|linebreaks }}
        <!-- django linebreaks filter to preserve line breaks in the paragraphs, like in the dummy content -->
    </main>

    <!-- SHOW ALL THE COMMENTS -->
    <section id="comments">
        <ul>
            {% for comment in comments %}
                <li>
                    <h2>{{ comment.user_name }}</h2>
                    <p>{{ comment.text|linebreaks }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>

    <!-- COMMENTS FORM -->
    <!-- Kod formi, ne zaboravi csrf token, action - url where the request should be sent to, metoda requesta -->
    <section id="comment-form">
        <h2>Your Comment</h2>
        <form action="{% url "post-detail-page" post.slug %}" method="POST">
        <!-- dynamic url iz urls.py:     path("posts/<slug:slug>", views.SinglePostView.as_view(), name="post-detail-page")  -->
        <!-- zelimo tu post req da se posalje, ako je forma failed, zelimo da bude prepopulated sa nasim odgovorima i error messages -->
        <!-- znaci url je npr posts/hike-in-the-mountains ako smo submitovali comm za taj post -->
            {% csrf_token %}
            {% for form_field in comment_form %}
            <div class="form-control {% if form_field.errors %}invalid{% endif %}">
                <!-- mijenjamo klasu ako je invalid ili valid -->
                {{ form_field.label_tag }}
                {{ form_field }}
                {{ form_field.errors }}
            </div>
            {% endfor %}
            <button>Save Comment</button>
        </form>
    </section>
{% endblock %}