{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a Profile</title>
  <link rel="stylesheet" href="{% static "profiles/styles.css" %}">
</head>
<body>
  <form action="/profiles/" method="POST" enctype="multipart/form-data">
    <!-- enctype ...  lets django know that a file will be submitted -->
    {% csrf_token %}
    <!-- <input type="file" name="image" /> -->
    {{ form }}
    <button>Upload!</button>
  </form>
</body>
</html>