<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profiles</title>
</head>
<body>
    <ul>
        {% for profile in profiles %}
            <li>
                <img src="{{ profile.image.url }}">
                <!-- url of the image stored in our db -->
            </li>
        {% endfor %}


    </ul>
</body>
</html>