<!-- {% load static %} -->

<li>
  <article class="post">
    <a href="{% url "post-detail-page" post.slug %}">
        <!-- linking with the post-detail-page -->
        <!-- posto ovaj path ima dynamic segment, slug, treba to da dodamo.npr taj slug moze bit "the-mountains" -->
      <!-- image name differes for diff posts. using the built in add filter which adds a value to the value in front of the filter -->
      <!-- dodali smo imageField pa sad UMJESTO static "blog/images/"|add:post.image_name treba ovako: -->
      <img src= "{{ post.image.url }}" alt="{{ post.title }}"/>
      <div class="post__content">
        <h3>{{ post.title }}</h3>
        <!-- umjesto post['title'] kao sto bi u pythonu kod dicts bilo-->
        <p>
          {{ post.excerpt }}
        </p>
      </div>
    </a>
  </article>
</li>