{% extends "reviews/base.html" %}


{% block title %}Your Review{% endblock %}

{% block content %}
    <form action="/" method="POST">
        <!-- action is a path after my domain to which the request should be sent -->
        <!-- / is just to our domain -->
        {% csrf_token %}
        <!-- django will then generate this token and validate it with the request. so attackers wont be able to send fake request to our server -->
        <!-- <label for="username">Your Name</label>
        <input id="username" name="username" type="text"> -->

        <!-- using django forms (or modelforms): -->
        {% for field in form %}
        <div class="form-control {% if field.errors %}errors{% endif %}">
            <!-- ako je invalid, dodajemo errors class da bi dodali styling -->
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}

        </div>
        {% endfor %}
        <!-- mozemo i da specify order elemenata u formi ... -->
        <button>Send</button>
    </form>
{% endblock %}
