{% extends "reviews/base.html" %}


{% block title %}All Reviews{% endblock %}

{% block content %}
    <ul>
        {% for review in reviews %}
            <li>{{ review.user_name }} (Rating: {{ review.rating }})</li>
        {% endfor %}
    </ul>
{% endblock %}
 