{% extends "reviews/base.html" %}


{% block title %}Review Detail{% endblock %}

{% block content %}
    <h1>{{ review.user_name }}</h1>
    <p>Rating: {{ review.rating }}</p>
    <p>{{ review.review_text }}</p>
    <!-- we want to bw able to set a review as a favorite, by clicking the review btn (send a post request to django)-->
    {% if is_favorite %}
        <!-- show this p if the selected review is favorite -->
        <p>This is my favorite</p>
    {% else %}
        <form action="/reviews/favorite" method="POST">
            {% csrf_token %}
            <input type="hidden" name="review_id" value="{{ review.id }}">
            <!-- the user cant edit this input but it will be submitted in the request body, so the id of the favorite review is sent-->
            <button>Favorite</button>
        </form>
    {% endif %}
{% endblock %}
 