{% extends "book_outlet/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <h2>{{ author }}</h2>
    <p>The book has a rating of {{ rating }}

        {% if is_bestseller %}
            and is a bestseller.
        {% else %}
            but isn't a bestseller.
        {% endif %}
    </p>

{% endblock %}