{% extends "book_outlet/base.html" %}

{% block title %}
    ALl Books
{% endblock %}

{% block content %}
    <ul>
        {% for book in books %}
        <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> (Rating: {{book.rating}})</li>
        <!-- href="{% url "book-detail" book.id %}" drugi nacin -->
        {% endfor %}
    </ul>

    <hr>
    <p>Total Number Of Books: {{ total_number_of_books }}</p>
    <p>Average Rating: {{ average_rating.rating__avg }}</p>

{% endblock %}